img{
    height: 100px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
    color: brown;
    background: url(../images/giphy.webp) center / cover;
    image-resolution: 1080;
    }

main{
    width: 50vw;
    margin: 1rem auto;
    padding: 1rem;
    color: orangered;
}
h1{
    font-size: 20px;
}

footer{
    bottom:0;
    color: whitesmoke;
    margin-top: auto;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
     text-align:center;
    padding: 2rem;
    margin-top: 4rem;
    display: flex;           
    justify-content: center; 
    align-items: center;     
}
    

    .navbar-brand{
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: auto;
        
        }

   