html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
    
    color: brown;
    background: url(../images/giphy.webp) center / cover;

}
main{
    background-color: #ffffff88;
}
footer{
    position:fixed;
    bottom:0;
    background: black;
    color: whitesmoke;
    margin-top: auto;
    width: 100%;
    }

    .navbar-brand{
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: auto;
        }

   