img{
    height: 100px;
}

.card{
    display: inline-block;
}

.container{
    background-color: whitesmoke;
    margin-top: 4rem;
    padding-bottom: 80px;
    padding-top: 50px;
}

.container.fluid{
padding: .5rem;
}

.navbar-brand{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: .25rem;
    
}

body{
background-image: url(../images/flame.jpg);
image-resolution: 1080;
}
